@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Toggle B */
  input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #1199fa;
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
    height: 30px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  @media only screen and (max-width: 600px) {
    .scrollbar::-webkit-scrollbar {
      width: 6px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      height: 15px;
    }
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ExtraLightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ThinItalic.ttf) format('truetype');
  font-weight: 100;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #232323;
  --lite: rgba(255, 255, 255, 0.6);
  --gray: rgba(1, 1, 1, 0.6);
  --dark: #3c3d3c;
  --primary: linear-gradient(145deg, #ff2f09, #c24a4e);
  --primary_dark: #970104;
  --primary_lite: #c24a4e;
  --secondary: #000a17;
  --default_font: 'Ysabeau Infant', sans-serif;
  --title_font: 'Outfit', sans-serif;
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  margin: 0;
  overflow-x: hidden !important;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src:
    local(''),
    url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/poppins-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input,
select {
  color: gray;
}

.transition-fade-enter,
.transition-fade-exit {
  transition: opacity 1000ms ease-out;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter.transition-fade-enter-active {
  opacity: 1;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 28px;
  width: 28px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid gray;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 11px;
  height: 18px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
  .checkbox-container .checkmark:after {
    left: 6px;
    width: 7px;
    height: 12px;
  }
}

.dark .checkbox-container .checkmark:after {
  border: solid #1199fa;
  border-width: 0 3px 3px 0;
}

/* Borrow Decoration */
.borrow-span-borrow-dark {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.17);
  -webkit-text-stroke-width: 3px;
}

.borrow-span-borrow {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke-width: 3px;
}

.borrow-span-soon {
  text-shadow: 8px 20px 4px rgba(0, 0, 0, 0.19);
}

.borrow-span-soon-dark {
  text-shadow: 3px 24px 4px rgba(112, 112, 112, 0.36);
}

.login-text-shadow {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.56);
}

.text-container {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: -0.022em;
  line-height: 1.47059;
}

.text-container ol {
  padding-left: 40px;
  list-style: auto;
}

@media only screen and (max-width: 600px) {
  .text-container ol {
    padding-left: 20px;
  }
}

.text-container a {
  text-decoration: none;
  color: #06c;
  letter-spacing: inherit;
}

.text-container strong {
  font-weight: 600;
}

/* my animation */

.star {
  position: absolute;
  height: 4px;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #eef0f5, rgba(0, 0, 255, 0));

  filter: drop-shadow(0 0 6px #d7dff0);
  animation:
    tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in 4000ms infinite;
}

.card-in {
  animation: fadeinout 10s infinite;
  animation-delay: 5s;
}

.card-out {
  animation: fadeoutin 10s infinite;
  animation-delay: 5s;
}

/* This code will help to generate
      effect in tail of star */
@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 50px;
  }

  100% {
    width: 0;
  }
}

/* Here we make shooting effect */
@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150px);
  }
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeoutin {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeoutin {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.double-background {
  height: 45rem;
  background-image: url('../images/banner/banner_left_bg.png'), url('../images/banner/banner_r_bg.png');
  background-position:
    top left,
    top right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

.form-divider {
  margin: 30px 0px 30px 0px;
  font-size: 13px;
  color: rgb(146, 153, 184);
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

.form-divider span {
  background: transparent;
  padding: 0px 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.form-divider::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 1px;
  background: rgb(61, 63, 75);
}

.custom-google-login {
  display: flex !important;
  background-color: #070146 !important;
  color: white !important;
  width: 100% !important;
  border-radius: 10px !important;
  justify-content: center !important;
}

.custom-google-login > div {
  background-color: #070146 !important;
}

.PhoneInput {
  border: 1px solid white;
  height: 40px;
}
.PhoneInputInput {
  border: none !important;
}

.input-phone-number input:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;
}

.requireLabel {
  color: white;
  padding: 0 0 8px;
  line-height: 1.5715;
  white-space: normal;
  text-align: left;
}

.auth_back {
  background-image: url('../images/auth_back.svg');
  background-position: center;
  background-size: cover;
}

.requireLabel::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

@media only screen and (max-width: 640px) {
  .double-background {
    height: 30rem;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #888;
  border-radius: 5px;
}

.unhovered ::-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
  width: 10px !important;
}

textarea::-webkit-scrollbar {
  width: 0.4em !important;
}

textarea::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ps-menu-button:hover {
  background-color: inherit !important;
  color: rgb(69, 212, 131, 0.8) !important;
}

.ps-menu-button.active {
  background-color: #53c959 !important;
  color: rgb(4, 236, 162) !important;
}

.slider__item-active-1 {
  transform: translateX(0);
}

.slider__item-active-2 {
  transform: translateX(-100%);
}

.slider__item-active-3 {
  transform: translateX(-200%);
}

.slider__item-active-4 {
  transform: translateX(-300%);
}

.slider__item-active-5 {
  transform: translateX(-300%);
}

.slider__item-active-6 {
  transform: translateX(-300%);
}

.slider__item-active-7 {
  transform: translateX(-300%);
}

.stack {
  text-align: center;
  position: relative;
}

.stack .layer {
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(53deg) rotateZ(-45deg) translateZ(0);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0);
  transition: all 0.3s ease-out;
}

.stack .layer_1 {
  position: absolute;
  top: -80px;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 25px auto;
  z-index: 3;
  line-height: 18rem;
}

.stack .layer_1:hover {
  transform: rotateX(0) rotateZ(0) translateZ(100px);
  background-color: white;
  color: #333;
  line-height: 18rem;
}

.stack .layer_2 {
  position: absolute;
  top: -30px;
  background-color: #222222a1;
  color: white;
  text-align: center;
  padding: 25px auto;
  line-height: 15rem;
  z-index: 2;
}

.stack .layer_2:hover {
  transform: rotateX(0) rotateZ(0) translateZ(100px);
  background-color: white;
  color: #222;
  line-height: 18rem;
  z-index: 5;
}

.stack .layer_3 {
  position: absolute;
  top: 10px;
  background-color: #333333c7;
  color: white;
  text-align: center;
  padding: 25px auto;
  line-height: 15rem;
  z-index: 1;
}

.stack .layer_3:hover {
  transform: rotateX(0) rotateZ(0) translateZ(100px);
  background-color: white;
  color: #333;
  line-height: 18rem;
  z-index: 4;
}

.w-dyn-item {
  box-sizing: border-box;
  display: block;
  font-size: calc(0.6183685829118853vw + 0.30790067720090286em);
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.team--card--wrapper {
  opacity: 1;
  transform: translateY(0px) translateZ(0px);
}

.grad--outside {
  background-image: linear-gradient(146deg, rgba(193, 225, 255, 0.53), rgba(0, 0, 0, 0));
  border-radius: 55px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding: 1px;
}

.card-main-wrap {
  width: 100%;
  height: 37.5rem;
  text-align: center;
  background-image: linear-gradient(123deg, #4b4d63, rgba(19, 24, 32, 0.85));
  border: 1px #fcfcfc;
  border-radius: 55px;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 0;
  padding: 24px;
  display: flex;
}

.card-dark-bg {
  width: 100%;
  height: 22rem;
  border-radius: 55px;
  margin-top: 10px;
  margin-bottom: 41px;
}

.ds-20 {
  transform: scale(2);
  transition-duration: 3000ms !important;
}

/* CSS for credit card form */

.credit-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-card {
  position: relative;
  width: 360px;
  height: 220px;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card-brand {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.card-chip {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 60px;
  height: 40px;
  background-color: #ccc;
  border-radius: 6px;
}

.card-number {
  position: absolute;
  top: 100px;
  left: 20px;
  font-size: 18px;
  font-family: monospace;
}

.card-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
}

.card-holder,
.card-expiry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.card-label {
  font-weight: bold;
}

.card-back {
  transform: rotateY(180deg);
}

.card-cvc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: monospace;
}

/* CSS for slide */

.sliderClip {
  text-decoration: none !important;
  min-width: fit-content;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

em {
  font-style: normal;
  color: var(--primary_lite);
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  color: var(--white);
  position: relative;
  border: 0;
  text-align: center;
}

.btn_3 {
  display: block;
  background-color: 0;
  color: var(--white);
  position: relative;
  font-family: var(--default_font);
  font-weight: 400;
  text-transform: uppercase;
}

.btn_3:before {
  content: '';
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  transform: translate(0%, -50%);
}

.btn_3:hover:before {
  border-radius: 40px;
  width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

.slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transition:
    clip 0.7s ease-in-out,
    z-index 0s 0.7s;
  clip: rect(0, 100vw, 100vh, 100vw);
  display: flex;
  align-items: center;
  justify-content: left;
}

.slider li:nth-child(1) {
  background: linear-gradient(to right, rgba(1, 1, 1, 1) 10%, rgba(1, 1, 1, 0.8) 51%, rgba(1, 1, 1, 0.2) 100%),
    url('/src/assets/images/slide/slide1.jpg');
  background-size: cover;
  background-position: top left;
}

.slider li:before {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 250px;
  height: 250px;
  background-image: url('https://i.postimg.cc/02zcww6c/slider-shape.png');
  background-size: 100% 100%;
  transition-delay: 1s;
  transform: rotate(-90deg);
  z-index: 1;
}

.slider li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-image: url('https://i.postimg.cc/KjKbwDfR/slider-shape-2.png');
  background-size: 100% 100%;
  transform: rotate(360deg);
  transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
  z-index: 1;
  background-position: center left;
}

.slider li:nth-child(2) {
  background: linear-gradient(to right, rgba(1, 1, 1, 1) 10%, rgba(1, 1, 1, 0.8) 51%, rgba(1, 1, 1, 0.2) 100%),
    url('/src/assets/images/slide/slide3.jpg');
  background-size: cover;
  background-position: top left;
}

.slider li:nth-child(3) {
  background: linear-gradient(to right, rgba(1, 1, 1, 1) 10%, rgba(1, 1, 1, 0.8) 51%, rgba(1, 1, 1, 0.2) 100%),
    url('/src/assets/images/slide/slide2.png');
  background-size: cover;
  background-position: top left;
}

.slider article {
  width: 60%;
  margin-top: 4rem;
  color: #fff;
  z-index: 11;
}

.slider h3 + p {
  display: inline-block;
  color: var(--lite);
  font-weight: 300;
}

.slider h3,
.slider h3 + p,
.slider p + .btn,
li:after {
  opacity: 0;
  transition:
    opacity 0.7s 0s,
    transform 0.5s 0.2s;
  transform: translate3d(0, 50%, 0);
}

li.current h3,
li.current h3 + p,
li.current p + .btn,
li.current:after {
  opacity: 1;
  transition-delay: 1s;
  transform: translate3d(0, 0, 0);
}

.slider li:before {
  transition: 0.5s;
  top: -250px !important;
}

li.current:before {
  transition-delay: 1s;
  transform: rotate(-90deg);
  top: -20px !important;
}

li.current {
  z-index: 1;
  clip: rect(0, 100vw, 100vh, 0);
}

li.prev {
  clip: rect(0, 0, 100vh, 0);
}

.slider aside {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  text-align: center;
  z-index: 10;
}

.slider aside a {
  display: inline-block;
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  background-color: var(--white);
  margin: 0 0.2rem;
  transition: transform 0.3s;
}

.slider em {
  background: var(--primary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

a.current_dot {
  transform: scale(1.4);
  background: var(--primary) !important;
}

@media screen and (max-width: 920px) {
  header {
    height: 70vh;
    position: relative;
  }

  .cs-down {
    display: none;
  }

  .slider {
    height: 70vh;
  }

  .slider article {
    width: 100%;
    margin-top: 2rem;
  }

  .slider li:nth-child(2) {
    background-position: top center;
  }

  .slider li:nth-child(3) {
    background-position: top center;
  }

  li.current:before {
    top: -30px;
    right: -10px;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.popover-content {
  animation: slide-in 0.3s ease;
}

.show {
  opacity: 1;
  transition: all ease 0.3s;
  transform: translateY(0);
  position: fixed;
  left: 0;
  bottom: 0;
  animation: slide-in ease 0.6s;
  z-index: 99999;
}

.hide {
  opacity: 0;
  transition: all ease 0.3s;
  transform: translateY(20px);
}

/* 3D card */
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  border-radius: 0.357rem;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
