@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Toggle B */
  input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #1199fa;
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
    height: 30px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  @media only screen and (max-width: 600px) {
    .scrollbar::-webkit-scrollbar {
      width: 6px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      height: 15px;
    }
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ExtraLightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-ThinItalic.ttf) format('truetype');
  font-weight: 100;
  font-style: italic;
}

body {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src:
    local(''),
    url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/poppins-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.transition-fade-enter,
.transition-fade-exit {
  transition: opacity 1000ms ease-out;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter.transition-fade-enter-active {
  opacity: 1;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 28px;
  width: 28px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid gray;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 11px;
  height: 18px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
  .checkbox-container .checkmark:after {
    left: 6px;
    width: 7px;
    height: 12px;
  }
}

.dark .checkbox-container .checkmark:after {
  border: solid #1199fa;
  border-width: 0 3px 3px 0;
}

/* Borrow Decoration */
.borrow-span-borrow-dark {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.17);
  -webkit-text-stroke-width: 3px;
}

.borrow-span-borrow {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke-width: 3px;
}

.borrow-span-soon {
  text-shadow: 8px 20px 4px rgba(0, 0, 0, 0.19);
}

.borrow-span-soon-dark {
  text-shadow: 3px 24px 4px rgba(112, 112, 112, 0.36);
}

.login-text-shadow {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.56);
}

.text-container {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: -0.022em;
  line-height: 1.47059;
}

.text-container ol {
  padding-left: 40px;
  list-style: auto;
}

@media only screen and (max-width: 600px) {
  .text-container ol {
    padding-left: 20px;
  }
}

.text-container a {
  text-decoration: none;
  color: #06c;
  letter-spacing: inherit;
}

.text-container strong {
  font-weight: 600;
}

/* my animation */

.star {
  position: absolute;
  height: 4px;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #eef0f5, rgba(0, 0, 255, 0));

  filter: drop-shadow(0 0 6px #d7dff0);
  animation:
    tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in 4000ms infinite;
}

.card-in {
  animation: fadeinout 10s infinite;
  animation-delay: 5s;
}

.card-out {
  animation: fadeoutin 10s infinite;
  animation-delay: 5s;
}

/* This code will help to generate
      effect in tail of star */
@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 50px;
  }

  100% {
    width: 0;
  }
}

/* Here we make shooting effect */
@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150px);
  }
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeoutin {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeoutin {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.double-background {
  height: 45rem;
  background-image: url('../images/banner/banner_left_bg.png'), url('../images/banner/banner_r_bg.png');
  background-position:
    top left,
    top right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

.form-divider {
  margin: 30px 0px 30px 0px;
  font-size: 13px;
  color: rgb(146, 153, 184);
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

.form-divider span {
  background: transparent;
  padding: 0px 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.form-divider::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 1px;
  background: rgb(61, 63, 75);
}

.input-phone-number input:focus {
  outline: none !important;
  /* border:none !important; */
  box-shadow: none !important;
  background-color: transparent;
}

.custom-google-login {
  display: flex !important;
  background-color: #070146 !important;
  color: white !important;
  width: 100% !important;
  border-radius: 10px !important;
  justify-content: center !important;
}

.custom-google-login > div {
  background-color: #070146 !important;
}

.PhoneInput {
  border: 1px solid white;
  background-color: #3b3b3b;
}

.requireLabel {
  color: white;
  padding: 0 0 8px;
  line-height: 1.5715;
  white-space: normal;
  text-align: left;
}

.auth_back {
  background-image: url('../images/backgournd.jpg');
  background-position: center;
  background-size: cover;
}

.requireLabel::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

@media only screen and (max-width: 640px) {
  .double-background {
    height: 30rem;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #888;
  border-radius: 5px;
}

.unhovered ::-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
  width: 10px !important;
}

textarea::-webkit-scrollbar {
  width: 0.4em !important;
}

textarea::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ps-menu-button:hover {
  background-color: inherit !important;
  color: rgb(69, 212, 131, 0.8) !important;
}

.ps-menu-button.active {
  background-color: #53c959 !important;
  color: rgb(4, 236, 162) !important;
}

.slider__item-active-1 {
  transform: translateX(0);
}

.slider__item-active-2 {
  transform: translateX(-100%);
}

.slider__item-active-3 {
  transform: translateX(-200%);
}

.slider__item-active-4 {
  transform: translateX(-300%);
}

.slider__item-active-5 {
  transform: translateX(-300%);
}

.slider__item-active-6 {
  transform: translateX(-300%);
}

.slider__item-active-7 {
  transform: translateX(-300%);
}

.stack {
  text-align: center;
  position: relative;
}

.stack .layer {
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(53deg) rotateZ(-45deg) translateZ(0);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.);
  transition: all 0.3s ease-out;
}

.stack .layer_1 {
  position: absolute;
  top: -80px;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 25px auto;
  z-index: 3;
  line-height: 18rem;
}

.stack .layer_1:hover {
  transform: rotateX(0) rotateZ(0) translateZ(100px);
  background-color: white;
  color: #333;
  line-height: 18rem;
}

.stack .layer_2 {
  position: absolute;
  top: -30px;
  background-color: #222222a1;
  color: white;
  text-align: center;
  padding: 25px auto;
  line-height: 15rem;
  z-index: 2;
}

.stack .layer_2:hover {
  transform: rotateX(0) rotateZ(0) translateZ(100px);
  background-color: white;
  color: #222;
  line-height: 18rem;
  z-index: 5;
}

.stack .layer_3 {
  position: absolute;
  top: 10px;
  background-color: #333333c7;
  color: white;
  text-align: center;
  padding: 25px auto;
  line-height: 15rem;
  z-index: 1;
}

.stack .layer_3:hover {
  transform: rotateX(0) rotateZ(0) translateZ(100px);
  background-color: white;
  color: #333;
  line-height: 18rem;
  z-index: 4;
}

.w-dyn-item {
  box-sizing: border-box;
  display: block;
  font-size: calc(0.6183685829118853vw + 0.30790067720090286em);
  color: #fff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.team--card--wrapper {
  opacity: 1;
  transform: translateY(0px) translateZ(0px);
}

.grad--outside {
  background-image: linear-gradient(146deg, rgba(193, 225, 255, .53), rgba(0, 0, 0, 0));
  border-radius: 55px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding: 1px;
}

.card-main-wrap {
  width: 100%;
  height: 37.5rem;
  text-align: center;
  background-image: linear-gradient(123deg, #4b4d63, rgba(19, 24, 32, .85));
  border: 1px #fcfcfc;
  border-radius: 55px;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 0;
  padding: 24px;
  display: flex;
}

.card-dark-bg {
  width: 100%;
  height: 22rem;
  border-radius: 55px;
  margin-top: 10px;
  margin-bottom: 41px;
}