@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-ExtraLightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(./styles/fonts/Poppins-ThinItalic.ttf) format('truetype');
  font-weight: 100;
  font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.primary-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.double-background {
  height: 45rem;
  background-image: url('./assets/images/banner/banner_left_bg.png'), url('./assets/images/banner/banner_r_bg.png');
  background-position:
    top left,
    top right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

.form-divider {
  margin: 30px 0px 30px 0px;
  font-size: 13px;
  color: rgb(146, 153, 184);
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

.form-divider span {
  background: transparent;
  padding: 0px 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.form-divider::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 1px;
  background: rgb(61, 63, 75);
}

.input-phone-number input:focus {
  outline: none !important;
  /* border:none !important; */
  box-shadow: none !important;
  background-color: transparent;
}

.custom-google-login {
  display: flex !important;
  background-color: #070146 !important;
  color: white !important;
  width: 100% !important;
  border-radius: 10px !important;
  justify-content: center !important;
}

.custom-google-login > div {
  background-color: #070146 !important;
}

.PhoneInput {
  border: 1px solid white;
  background-color: #3b3b3b;
}

.requireLabel {
  color: white;
  padding: 0 0 8px;
  line-height: 1.5715;
  white-space: normal;
  text-align: left;
}

.auth_back {
  background-image: url('./assets/images/auth_back.svg');
  background-position: center;
  background-size: cover;
}

.requireLabel::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

@media only screen and (max-width: 640px) {
  .double-background {
    height: 30rem;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  /* background: #e0e0e0; */
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 252, 252, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

textarea::-webkit-scrollbar {
  width: 0.5em;
}

textarea::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 252, 252, 0.3);
}

